{% extends 'base.html.twig' %}

{% block title %}UserEntreprise index{% endblock %}

{% block body %}
    <h1>UserEntreprise index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_entreprise in user_entreprises %}
            <tr>
                <td>{{ user_entreprise.id }}</td>
                <td>{{ user_entreprise.email }}</td>
                <td>{{ user_entreprise.roles ? user_entreprise.roles|json_encode : '' }}</td>
                <td>{{ user_entreprise.password }}</td>
                <td>
                    <a href="{{ path('user_entreprise_show', {'id': user_entreprise.id}) }}">show</a>
                    <a href="{{ path('user_entreprise_edit', {'id': user_entreprise.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_entreprise_new') }}">Create new</a>
{% endblock %}
