{% extends 'base.html.twig' %}

{% block title %}UserEntreprise{% endblock %}

{% block body %}
    <h1>UserEntreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_entreprise.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user_entreprise.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user_entreprise.roles ? user_entreprise.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user_entreprise.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_entreprise_index') }}">back to list</a>

    <a href="{{ path('user_entreprise_edit', {'id': user_entreprise.id}) }}">edit</a>

    {{ include('user_entreprise/_delete_form.html.twig') }}
{% endblock %}
