
{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<style>
div.alert{
background-color: red;
color: white;
margin: 75px;
    }
div.box {
  width: 360px;
  padding: 20px;
  border: 5px solid white;
  background-color: white;
  margin-top: 80px;
  margin-bottom: 60px;
}
body {
  width: all;
  height: all;
  background-color: gray;
}
 div.label{
 text-align: left;
 }
</style>


<center>
    <div class="box">
    <h1 class="h3 mb-3 font-weight-normal" style="color: blue"> Cognito App</h1>
    <div class="label"><label for="inputEmail" >Email</label><br>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus><br>
    <label for="inputPassword">Password</label><br>
    <input type="password" name="password" id="inputPassword" class="form-control" required> </div><br>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
 
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
   #}
    <button class="btn btn-lg btn-primary" type="submit"> Sign in </button><br><br>
<div class="mb-3">
If you don't have an account <a href="{{ path('app_register') }}"> Sign Up</a>
</div>
<div class="mb-3">
 If you forgot the password <a href="{{ path('app_forgot_password_request') }}"> Reset your Password</a> 
</div> 
</div>
</form>
</center>
{% endblock %}
