
{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    
<style>
div.alert{
background-color: rgb(220,20,60);
color: white;
margin-left: 900px;
margin-top: 30px;
margin-right: 10px;
width: 300px;
  box-shadow: 8px 8px 12px #aaa;
}
div.box {
  width: 360px;
  padding: 20px;
  border: 5px solid white;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 30px;
  box-shadow: 8px 8px 12px #aaa;

}
body {
  width: all;
  height: all;
  background-color: rgb(105,105,105);
}
 div.label{
 text-align: left;
 }
 div.checkbox{
   text-align: left;
 }
 button.btn{
  border: none;
  color: white;
  padding: 15px 62px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 }
</style>


<center>
    <div class="box">
    <h1 class="h3 mb-3 font-weight bold" style="color: blue"> Cognito App</h1>
    <div class="label"><label for="inputEmail" >Email</label><br>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus><br>
    <label for="inputPassword">Password</label><br>
    <input type="password" name="password" id="inputPassword" class="form-control" required> </div><br>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
    #}
    <div class="checkbox mb-3">
        <label>
          <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
   
    <button class="btn btn-primary btn-lg btn-block" type="submit"> Sign in </button><br><br>
<div class="mb-3">
If you don't have an account <a href="{{ path('app_register') }}"> Sign Up</a>
</div>
<div class="mb-3">
 If you forgot the password <a href="{{ path('app_forgot_password_request') }}"> Reset your Password</a> 
</div> 
</div>
</form>
</center>
{% endblock %}
