{% extends 'base.html.twig' %}

{% block title %}task index{% endblock %}

{% block body %}

  <!-- Vertical navbar -->
  <div class="vertical-nav bg-dark active" id="sidebar">
      <div class="py-4 px-3 mb-4 bg-dark">
          <div class="media-body">
            <h4 class="font-weight-white text-muted mb-0">task Index</h4>
          </div>
      </div>
      <ul class="nav flex-column bg-dark mb-0">
        <li class="nav-item">
            <a href="{{ path('app_dashboard') }}" class="nav-link text-light font-italic bg-dark">
                  <i class="fa fa-home text-primary mr-3 fa-fw" aria-hidden="true"></i>
                    Dashboard
              </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('task_new') }}"  class="nav-link text-light font-italic bg-dark">
                    <i class="fa fa-plus-square-o mr-3 text-primary fa-fw" aria-hidden="true"></i>
                  Create New task
              </a>
        </li>
      </ul>
      <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">deconnexion</p>

        <ul class="nav flex-column bg-dark mb-0">
          <li class="nav-item">
              <a href="{{path('app_logout') }}"  class="nav-link text-light font-italic bg-dark">
                  <i class="fa fa-sign-out mr-3 text-primary fa-fw" aria-hidden="true"></i>
                    Logout
                </a>
          </li>
        </ul>
  </div>
<center><div class="box">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name_task</th>
                <th>Actions</th>
                <th>Users</th>

            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.nametask }}</td>
                <td>
                    <a href="{{ path('task_show', {'id': task.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i>show</a>
                    <a href="{{ path('task_edit', {'id': task.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i>edit</a>
                </td>
            <td>{% for u in task.user %}
            {{ u }}<br>
              {% endfor %}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
</center>
{% endblock %}
