{% extends 'base.html.twig' %}

{% block title %}task{% endblock %}

{% block body %}

  <!-- Vertical navbar -->
  <div class="vertical-nav bg-dark active" id="sidebar">
      <div class="py-4 px-3 mb-4 bg-dark">
          <div class="media-body">
            <h4 class="font-weight-white text-muted mb-0">Show User</h4>
          </div>
      </div>
      <ul class="nav flex-column bg-dark mb-0">
        <li class="nav-item">
            <a href="{{ path('app_dashboard') }}" class="nav-link text-light font-italic bg-dark">
                  <i class="fa fa-home mr-3 text-primary fa-fw"></i>
                    Dashboard
              </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('task_new') }}"  class="nav-link text-light font-italic bg-dark">
                  <i class="fa fa-plus-square-o mr-3 text-primary fa-fw" aria-hidden="true"></i>
                  Create New task
              </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('task_index') }}"  class="nav-link text-light font-italic bg-dark">
                  <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                 task Index
              </a>
        </li>
          <li class="nav-item">
            <a href="{{ path('task_edit', {'id': task.id}) }}" class="nav-link text-light font-italic bg-dark">
                  <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                 Edit task
              </a>
        </li>
      </ul>
      <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">deconnexion</p>

        <ul class="nav flex-column bg-dark mb-0">
          <li class="nav-item">
              <a href="{{path('app_logout') }}"  class="nav-link text-light font-italic bg-dark">
                  <i class="fa fa-sign-out mr-3 text-primary fa-fw" aria-hidden="true"></i>
                    Logout
                </a>
          </li>
        </ul>
  </div>

<center><div class="box">
    <h1>task</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Numero_task</th>
                <td>{{ task.numero_task }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
             <tr>
                <th>Status</th>
            <td>{% for u in task.status %}
            {{ u }}<br>
              {% endfor %}</td>

               </tr>
        </tbody>
    </table>


    {{ include('task/Twig/_delete_form.html.twig') }}
    </div></center>
{% endblock %}
