{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}



{% block body %}

	<!-- Vertical navbar -->
	<div class="vertical-nav bg-dark active" id="sidebar">
  		<div class="py-4 px-3 mb-4 bg-dark">
      		<div class="media-body">
        		<h4 class="font-weight-white text-muted mb-0">Dashboard</h4>
      		</div>
  		</div>
  		<ul class="nav flex-column bg-dark mb-0">
                      {% if is_granted('ROLE_SUPER_ADMIN') %}  

           <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Entreprises</p>
        <li class="nav-item">
            <a href="{{ path('entreprise_index') }}"  class="nav-link text-light font-italic bg-dark">
                  <i class="fa fa-cubes mr-3 text-primary fa-fw" aria-hidden="true"></i>
                  Entreprise Index
              </a>
          
        </li>
        <li class="nav-item">
            <a href="{{ path('entreprise_new') }}"  class="nav-link text-light font-italic bg-dark">
                  <i class="fa fa-plus-square-o mr-3 text-primary fa-fw" aria-hidden="true"></i>
                  New Entreprise
              </a>
        </li>
           <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Users</p>
        <li class="nav-item">
            <a href="{{ path('user_index') }}" class="nav-link text-light font-italic bg-dark">
                  <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                    User Index
              </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('user_new') }}"  class="nav-link text-light font-italic bg-dark">
                  <i class="fa fa-plus-square-o mr-3 text-primary fa-fw" aria-hidden="true"></i>
                  New User
              </a>
        </li>
  		
     {% endif %}
            {% if is_granted('ROLE_ADMIN') %}  
           <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Projects</p>
     <li class="nav-item">
            <a href="{{ path('project_index') }}"  class="nav-link text-light font-italic bg-dark">
                  <i class="fa fa-plus-square-o mr-3 text-primary fa-fw" aria-hidden="true"></i>
                  Project Index
              </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('project_new') }}"  class="nav-link text-light font-italic bg-dark">
                  <i class="fa fa-plus-square-o mr-3 text-primary fa-fw" aria-hidden="true"></i>
                  New Project
              </a>
        </li>{% endif %}
                    {% if is_granted('ROLE_USER') %}  
      <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Tasks</p>
     <li class="nav-item">
            <a href="{{ path('task_index') }}"  class="nav-link text-light font-italic bg-dark">
                  <i class="fa fa-plus-square-o mr-3 text-primary fa-fw" aria-hidden="true"></i>
                  Task Index
              </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('task_new') }}"  class="nav-link text-light font-italic bg-dark">
                  <i class="fa fa-plus-square-o mr-3 text-primary fa-fw" aria-hidden="true"></i>
                  New Task
              </a>
        </li>
          
             {% endif %}

      <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Profile</p>

          <li class="nav-item">
              <a href="{{ path('app_forgot_password_request') }}"  class="nav-link text-light font-italic bg-dark">
                  <i class="fa fa-pencil-square-o mr-3 text-primary fa-fw" aria-hidden="true"></i>
                    Change Password
                </a>
          </li>
  		<p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">deconnexion</p>
    			<li class="nav-item">
      				<a href="{{path('app_logout') }}"  class="nav-link text-light font-italic bg-dark">
                	<i class="fa fa-sign-out mr-3 text-primary fa-fw" aria-hidden="true"></i>
                		Logout
            		</a>
    			</li>
  			</ul>
	</div>
<!-- End vertical navbar -->

  <!-- Demo content -->
  <center>
  <div class="box">
	<form method="post">
	    {% if app.user %}
	<div class="mb-3" style="text-align: left;">
       You are logged in  as {{ app.user.username }},
	    {% endif %}
  </div>
	</form>
      {% if is_granted('ROLE_SUPER_ADMIN') %}  
             <div style="text-align: left;"><b> Hello Superadmin </b> </div> <br>     
            
      <div class="row">
            <div class="quick-stats-invoices col-xs-12 col-md-6 col-sm-6 col-lg-3">
            <div class="top_stats_wrapper font-weight-bold text-primary">
             <p class="text-uppercase"><i class="fa fa-users" aria-hidden="true"></i>Users<span class="pull-right">{{ usersNumber }} </span>
            </p>
               </div>
         </div>
            <div class="quick-stats-invoices col-xs-12 col-md-6 col-sm-6 col-lg-3">
            <div class="top_stats_wrapper font-weight-bold text-primary">
             <p class="text-uppercase"><i class="hidden-sm fa fa-cubes"></i> Entreprises<span class="pull-right">{{ entreprisesNumber }} </span>
               </p>
         
               </div>
         </div>
            <div class="quick-stats-invoices col-xs-12 col-md-6 col-sm-6 col-lg-3">
            <div class="top_stats_wrapper font-weight-bold text-primary">
             <p class="text-uppercase"><i class="hidden-sm fa fa-cubes"></i>Projects<span class="pull-right">{{ projectsNumber }} </span>
               </p>
         
            </div>
         </div>
            <div class="quick-stats-invoices col-xs-12 col-md-6 col-sm-6 col-lg-3">
            <div class="top_stats_wrapper font-weight-bold text-primary">
             <p class="text-uppercase"><i class="hidden-sm fa fa-cubes"></i>Tasks<span class="pull-right">{{ tasksNumber }} </span>
               </p>
          </div>
         </div>
         </div>
  </div>
      {% endif %}      
  </center>
<!-- End content -->

{% endblock %}
