{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<style type="text/css">
div.box {
  width: 780px;
  padding: 20px;
  border: 5px solid white;
  background-color: white;
  margin-top: 10px;
  box-shadow: 8px 8px 12px #aaa;
}
body {
  width: all;
  height: all;
  background-color: rgb(105,99,90);
}

</style>

<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <h1 class="list-group-item list-group-item-action active">Edit User</h1>
      <a class="list-group-item list-group-item-action" href="{{ path('user_new') }}" role="tab">Create New User</a>
      <a class="list-group-item list-group-item-action" href="{{path('app_dashboard') }}" role="tab">Back to dashboard</a>
      <a class="list-group-item list-group-item-action" href="{{path('user_index') }}">back to list</a>
      <a class="list-group-item list-group-item-action" href="{{path('app_logout') }}" role="tab" >Logout</a>
  
    </div>
  </div>

<center><div class="box">

{{ include('user/_form.html.twig', {'button_label': 'Update'}) }} <br>
{{ include('user/_delete_form.html.twig') }}<br>
    
</div></center>
{% endblock %}
